@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
html{
    scroll-behavior: smooth;
}


.start{
    background-color: rgb(202 197 197 / 49%);
      width: 100%;
      height: 75px;
      box-shadow: 19px 9px 8px grey;
}
.navi {
    background-color: rgb(26 27 27);
    padding: 0%;
    margin: 0%;
    height: 75px;
    box-shadow: none;
    color: white;
    box-shadow: 15px 4px 6px #0c0c0c;
  }


a:hover{
	text-decoration:none;
}
section, footer, header, aside{
	display: block;
}


nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;  
    color: white;
    height: 66px;
}

nav ul li{
    text-decoration: none;
    padding: 0 13px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

nav ul li a:hover{
    color: white;
}

.logo img{
    margin: 11px 11px;
    width: 67px;
    height: 67px;
}

.logo{
 display: flex;
    align-items: center;
    font-size: 1.9rem;
    color:black;
    margin-left: -45px;
    font-family: 'Poppins', sans-serif;
}
.lg{
    color: white;
}
.timedate {
    font: small-caps lighter 23px / 106% "Segoe UI", Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;
    text-align: right;
    color: black;
    border-right: 4px solid black;
    padding: 17px;
    position: absolute;
    right: 5px;
}
.ttt{
    color: white;
    border-right: 4px solid white;
}
#btn1{
    position: absolute;
    right: 16%;
    margin-top: -7px;
    color: black;
}
.dd{
    position: absolute;
    right: 16%;
    margin-top: -7px;
    color: white;
}
.buton{
    border: 3px solid midnightblue;
    border-radius: 37px;
    background-color: #fff8ea;
    font-size: 21px;
    color: #080849;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    position: absolute;
    left: 43%;
    cursor: pointer;
}

.buton:hover{
    background-color:rgb(198, 195, 190);
}

.buton:active{
    background-color: rgb(162, 157, 162);
    box-shadow: 2px 2px black;
    transform: translateY(4px);
    transition: 0.5s;
}

.message{
    width: 26%;
    border: 3px solid black;
    border-radius: 10px;
    padding: 10px;
    margin: 14px 28px;
}

.left{
    float: left;
    clear: both;
    background-color: rgb(118 118 118 / 82%);
    color: white;
    font-size: 20px;
    font-family: emoji;
}

.right{
    float: right;
    clear: both;
    color: white;
    background-color: #a887fc;
    font-size: 20px;
    font-family: emoji;
}

#send-container{
    display: block;
    margin: auto;
    text-align: center;
    width: 100%;
    max-width: 1310px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#messageInp{
    width: 84%;
    border: 3px solid black;
    font-size: smaller;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    font-weight: 500;
    height: 50px;
    padding: 9px;
    margin: -9px 0px;
    background-color: #ebe3d9;
}


#overlay{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  } 

.btn2{
    background-color: black;
    color: white;
    text-decoration: none;
    border: 2px solid white;
    width: 26%;
    text-align: center;
    font-size: 21px;
    border-radius: 25px;
}

.btn2:hover{
    background-color:rgb(37, 42, 46);
}

.btn2:active{
    background-color: rgb(119, 118, 119);
    box-shadow: 2px 2px black;
    transform: translateY(4px);
}

.card-text{
    font-family: cursive;
    text-align: center;
}

.card-title{
    font-weight: bold;
    font-family: serif;
    font-size: 33px;
}
#sendsvg{
    display: none;
}




